doctype
html(lang="en")
  head
    title Tweetstream
    meta(name='viewport', content='width=device-width,user-scalable=no')
    link(href='http://fonts.googleapis.com/css?family=Nobile', rel='stylesheet', type='text/css')
    link(href='/style.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/tweets.js')
  body
    #container
      .tweet
        .tweet__text ...
        .tweet__user ...
        .tweet__time ...
      .stats
        .stats__pending
          span.data
