<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <title>Tweetstream</title>
        <meta name="viewport" content="width=device-width,user-scalable=no">
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/javascripts/timeago.js"></script>
        <script type="text/javascript" src="/javascripts/tweets.js"></script>
    </head>
    <body>
        <div id="container">
        {{{ yield }}}
        </div>
    </body>
</html>
