body {
    margin: 40px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 60px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #222;
    color: #ddd;
}

.stats {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.tweet__text {
  font-size: 120%;
}

.tweet__text span {
  float: left;
}

.tweet__text .username {
  color: #DD6668;
}

.tweet__text .hashtag {
  color: #8DB7E0;
}

.tweet__text .url {
  color: #C5D064;
}

.tweet__user, .tweet__time {
  background: #181818;
  padding: 0 15px;
}

.tweet__user {
  position: absolute;
  bottom: 86px;
  margin-top: 20px;
  float: left;
  clear: left;
}

.tweet__time {
  position: absolute;
  bottom: 30px;
  color: #666;
  font-size: 60%;
  float: left;
  clear: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.stats {
  font-size: 30%;
  opacity: 0.3;
}
