body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

h1 {
    padding: 7px 20px 0 20px;
    color: #aaa;
}

p {
    word-wrap: break-word;
}

.label {
    
}

#container {
    width: 540px;
    margin: 0 auto;
    background: #eee;
}

.clearboth {
    clear: both;
}

#tweets {
    line-height: 1.4;
}

#tweets .tweet {
    border-bottom: 1px solid #ddd;
    padding: 10px 20px 10px 20px;
    width: 500px;
    float: left;
}

.tweet_image {
    width: 48px;
    margin-right: 12px;
    float: left;
    padding-top: 2px;
}

.tweet_image img {
    width: 48px;
    height: 48px;
}

.tweet_text {
    width: 440px;
    float: left;
}

.content {
    padding: 0px;
}

@media only screen and (max-width:600px) {
    #container {
        width: 100%;
    }
    #tweets .tweet {
        width: 90%;
        padding: 3% 5%;
    }
    
    .tweet_image {
        padding: 0;
        width: 20%;
        margin: 0;
        float: left;
    }
    
    .tweet_text {
        padding: 0;
        width: 80%;
    }
}