body {
    margin: 26px 30px 30px 30px;
    font-family: 'Helvetica Neue', sans-serif;
	font-weight: 200;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	background: #073642;
	color: #879DA3;
	word-wrap: break-word;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

#tweets span {
	float: left;
}



p {
    word-wrap: break-word;
}

#container {
	font-size: 70px;
}

.clearboth {
    clear: both;
}

#tweet {
    line-height: 1.2;
	text-shadow: 0px 2px #002b36;
}

.pending {
	opacity: 0.3;
	position: absolute;
	bottom: 30px;
	font-size: 11px;
	line-height: 11px;
}

.evicted {
	opacity: 0.3;
	position: absolute;
	bottom: 45px;
	font-size: 11px;
}


.username {
	color: #b58900;
}

.hashtag {
	color: #2aa198;
}

.link {
	color: #268bd2;
	border-bottom: 2px solid;
}

.screen_name {
	color: #586e75 !important;
	font-size: 50px;
	clear: left;
}


#tweets .tweet {
    padding: 10px 20px 10px 20px;
    float: left;
}

.tweet_image {
    width: 48px;
    margin-right: 12px;
    float: left;
    padding-top: 2px;
}

.tweet_image img {
    width: 48px;
    height: 48px;
}

.tweet_text {
    float: left;
}

.content {
    padding: 0px;
}

@media only screen and (max-width:600px) {
    #container {
        width: 100%;
    }
    #tweets .tweet {
        width: 90%;
        padding: 3% 5%;
    }
    
    .tweet_image {
        padding: 0;
        width: 20%;
        margin: 0;
        float: left;
    }
    
    .tweet_text {
        padding: 0;
        width: 80%;
    }
}