body {
    margin: 40px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 60px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #073642;
    color: #879DA3;
}


.stats {
  position: absolute;
  bottom: 30px;
}

.tweet {

}

.tweet__text .username {
  color: red;
}

.tweet__text .hashtag {
  color: blue;
}

.tweet__text .url {
  color: yellow;
}

.tweet__user::before {

}

.stats {
  font-size: 30%;
  opacity: 0.3;
}
