body {
    margin: 40px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 40px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #073642;
    color: #879DA3;
}


.stats {
  position: absolute;
  bottom: 25px;
}

.tweet {

}

.tweet__user::before {
  content: "@";
}
