body {
    background: #e0e0e0;
    font-family: 'Helvetica Neue';
    width: 700px;
    margin: 50px auto;
    overflow: hidden;
}

ul#tweets {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}

ul#tweets li {
    background: #fff;
    padding: 8px;
    margin-bottom: 3px;
}

ul#tweets li p {
    margin: 0;
    padding: 0;
}

ul#tweets li p.small {
    font-size: 11px;
    padding: 3px 0 0 0;
    color: #aaa;
}